body {
  background-color: #b89fc7;
}

p {
  color: blue;
  background-color: yellow;
}

h1 {
  color: red;
}

a {
  text-decoration: none;
  color: pink;
}

img {
    margin: 50px;
    padding: 20px;
    border: 1px solid black;
}

.highlight {
  background: orange;
  font-size: 45px;
  color: white;
}

.bigger {
  font-size: 50px;
}
